*{
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(270deg, #aec8dd, #35193398, #250e2073, #35113363);
    background-size: 600% 600%;
    animation: gradientBG 20s ease infinite;
    background-image: url(./../imgs/CARATULA-\(2\).png);
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen */
}

.ingreso{
    background: rgba(0, 0, 0, 0.185); /* Fondo semi-transparente */
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    max-width: 600px;
    margin: 100px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1.5s ease-out;
}

.ingreso h3{
    color: aliceblue;
    font-size: 40px;
    margin-bottom: 10px;
}

.ingreso p{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    padding: 15px;
    color: #ecdeec;
}

.ingreso p span{
    color: violet;
}



.decoraciones {
    margin: 20px 0;
}

.decoraciones i {
    font-size: 40px;
    color: #f39dc8;
    margin: 0 15px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.decoraciones i:hover {
    transform: scale(1.2);
    color: #ff1493;
}


.ingreso a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #3b405ca2; 
    color: rgb(243, 144, 243);
    border: 1px solid violet;
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 30%;
    
}

.ingreso a:hover{
    background-color: violet;
    color: aliceblue;
}

/* Gradientes */
@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
} 



/* Cartas Html - SECTION 1*/

.cards{
    height: 100vh;
    display: flex;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./../imgs/fondo_flores2.webp);
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen */
}

.cards h1{
    font-family: 'Dancing Script', cursive;
    font-size: 3.5rem;
    letter-spacing: 8px; 
    display: inline-block; 
    transform: rotate(-5deg); 
    padding: 10px 20px;
    border-radius: 5px;
    text-shadow: 2px 2px 5px rgba(221, 121, 216, 0.849);
    border: none;
    color: rgba(177, 54, 101, 0.986);
} 

.cards p{
    font-size: 25px;
    color: rgba(105, 50, 71, 0.493);
    padding-top: 50px;
    letter-spacing: 4px;
}

.icon-container{
    color: aliceblue;
    border-radius: 50%;
    padding-top: 100px;
    font-size: 15px;

}
.bx:hover {
    transform: scale(1.1); 
}

/* SECTION 2 */
.invitacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url();
    
}

.invitacion h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    color: aliceblue;
    width: 50%;
}

.img-invitacion{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* section 3, y en algunas partes section 4, seccion 5*/
.party, .ubicacion{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-party, .img-ubi{
    position: relative; 
    width: 150px; 
    overflow: hidden; 
}

.img-party img, .img-ubi img{
    width: 100%; 
}


.img-party img.second, .img-ubi img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 2px 3px rgba(255, 105, 180, 0.7);
}


.party p{
    font-size: 70px;
    font-family:  'Dancing Script', cursive;
    color: aliceblue;
}

.subrayado {
    text-align: center; 
    position: relative; 
    margin: 20px 0;
    padding: 40px; 
}

.subrayado img {
    width: 100%;
    position: absolute; 
    top: 74%; 
    left: 50%; 
    transform: translate(-50%, -50%); 

}

.cont-fecha p{
    font-size: 30px;
    padding: 15px;
    font-family: sans-serif;
    font-weight: 500;
    color:rgb(165, 129, 165);
    text-shadow: 
    0 0 2px rgba(165, 129, 165, 0.5), 
    0 0 4px rgba(255, 192, 203, 0.5); 
}


.cont-fecha a, .cont-ubi a{
    display: block;
    padding: 10px;
    background-color: #424869; 
    border: 1px solid violet;
    border-radius: 18px;
    width: 100%;
    color: violet;
    font-size: 24px;
    text-decoration: none;
    transition: 0.3s;
}

.cont-fecha a:hover, .cont-ubi a:hover{
    color: aliceblue;
    background-color: violet;
}

/* --------------------------------------------------------------- */
.content-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 


}
.image-box {
    position: relative; /* Necesario para posicionar el texto encima */
    width: 400px; /* Ancho del cuadro (ajústalo a tu preferencia) */
    height: 400px; /* Alto del cuadro */
    overflow: hidden; /* Evita que el texto o la imagen salgan del cuadro */
    border: none; /* Opcional: borde alrededor del cuadro */
    border-radius: 2px; /* Opcional: esquinas redondeadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Opcional: sombra para el cuadro */
}

.image-box img {
    width: 100%; /* Ajusta la imagen al ancho del cuadro */
    height: 100%; /* Ajusta la imagen al alto del cuadro */
    object-fit: cover; /* Asegura que la imagen mantenga proporciones */
  }
  
  .overlay-text {
    position: absolute; /* Posiciona el texto encima de la imagen */
    top: 50%; /* Centra el texto verticalmente */
    left: 50%; /* Centra el texto horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste perfecto para el centro */
    color: white; /* Color del texto */
    font-size: 1.4rem; /* Tamaño del texto (ajústalo según tu preferencia) */
    font-weight: bold; /* Texto más visible */
    text-shadow: 2px 2px 4px rgba(136, 8, 119, 0.562); /* Sombra para mejor legibilidad */
    text-align: center; /* Centrado del texto si es multilinea */
    color: rgb(182, 45, 68);
    width: 80%;
    letter-spacing: 1px;
  }


  .overlay-text-2 {
    position: absolute; /* Posiciona el texto encima de la imagen */
    top: 50%; /* Centra el texto verticalmente */
    left: 50%; /* Centra el texto horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste perfecto para el centro */
    color: white; /* Color del texto */
    font-size: 1.4rem; /* Tamaño del texto (ajústalo según tu preferencia) */
    font-weight: bold; /* Texto más visible */
    text-shadow: 2px 2px 4px rgba(136, 8, 119, 0.562); /* Sombra para mejor legibilidad */
    text-align: center; /* Centrado del texto si es multilinea */
    color: rgb(182, 45, 68);
    width: 80%;
    letter-spacing: 1px;
    background-color: #f1b8b893;
    height: 220px;
    border-radius: 10px ;
  }

.overlay-text-2 .month{
    letter-spacing: 3px;
    font-size: 32px;
}

.overlay-text-2 .day{
    font-size: 23px;
}

.overlay-text-2 .number{
    font-size: 80px;
    
}

.overlay-text-2 .hour{
    font-size: 25px;
}

  
/* ---------------------------------------------------------------------------------- */




/* Section 4 */
.cont-ubi p{
    font-family: 'Times New Roman', serif;
    color: rgb(85, 85, 85);
    text-align: center;
    padding: 10px;
}

.cont-ubi p:first-of-type {
    font-size: 36px;
    font-weight: bold;
    color: rgb(165, 129, 165); 
    border-bottom: 2px solid rgb(200, 150, 200); 
}

.cont-ubi   p:last-of-type {
    font-size: 28px;
    color: rgb(100, 100, 100);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
    padding: 15px;
}

/* Seccion 5 */

.cont-asistencia p{
    font-weight: 500;
    text-shadow: 
    0 0 2px rgba(165, 129, 165, 0.5), 
    0 0 4px rgba(255, 192, 203, 0.5); 
    font-size: 36px;
    color: rgb(165, 129, 165); 
    border-bottom: 2px solid rgb(200, 150, 200); 
    

}

.cont-asistencia a{
    display: block;
    width: 50%;
    margin: 0 auto; /* Centra el elemento */
    text-align: center; /* Centra el texto dentro del botón */
    padding: 10px;
    background-color: #424869; 
    border: 1px solid violet;
    border-radius: 18px;
    color: violet;
    font-size: 24px;
    text-decoration: none;
    transition: 0.3s;
    margin-top: 20px;

}

.cont-asistencia a:hover{
    color: aliceblue;
    background-color: violet;
}

/* Seccion 6 */
.fotos{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.photos{
    position: relative; 
    width: 150px; 
    overflow: hidden; 
    margin-bottom: 110px;
    padding-bottom: 160px;

}

.photos img{
    width: 100%; 
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 2px 3px rgba(255, 105, 180, 0.7);
}


.cont-fotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 100%;
    margin-left: 20px;
}

/* Estilo de cada imagen */

.contenido {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contenido img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
}

.contenido:hover {
    transform: scale(1.05);

}

.contenido:hover img {
    transform: scale(1.1);
}

/* Section  7 */

.title{
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    padding-top: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(213, 214, 214);
    text-shadow: 
    0 0 2px rgba(165, 129, 165, 0.5), 
    0 0 4px rgba(255, 192, 203, 0.5);

}

.cont-modos{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,50%);
    justify-items: center;
    align-items: center;
    text-align: center;
}

.cont-modos p{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    padding: 40px;

}

.music{
    background-color:  rgba(238, 130, 238, 0.062);
    width: 50%;
    height: 60%;
    border-radius: 15px;
    border: 1px solid rgba(238, 130, 238, 0.562);

}

.music h3{
    font-size: 45px;
    color: violet;
    padding: 40px;
}

.music i{
    font-size: 50px;
    color: #241216;
}

.music p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: aliceblue;
}

.music a{
    display: block;
    width: 40%;
    margin: 0 auto; 
    text-align: center; 
    padding: 10px;
    background-color: #424869; 
    border: 1px solid violet;
    border-radius: 18px;
    color: violet;
    font-size: 22px;
    text-decoration: none;
    transition: 0.3s;
}

.music a:hover{
    color: aliceblue;
    background-color: violet;
}

.vestimenta{
    background-color: rgba(238, 130, 238, 0.151);
    width: 50%;
    height: 60%;
    border-radius: 15px;
    border: 1px solid rgba(238, 130, 238, 0.562);
}

.vestimenta h3{
    font-size: 45px;
    color: violet;
    padding-bottom: 20px;
    padding: 40px;
}

.vestimenta i{
    font-size: 50px;
    color: #241216;
    padding-bottom: 50px;
}

.vestimenta p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: aliceblue;
}

/* ULTIMA SECTION-8  */

.ult-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.ult-section .p-1{
    font-family: 'Dancing Script', cursive; 
    font-size: 55px; 
    color: aliceblue; 
    text-align: center; 
    margin-top: 20px; 
    text-shadow: 
        0 0 5px rgba(224, 103, 204, 0.5), 
        0 0 10px rgba(233, 104, 201, 0.7), 
        2px 2px 5px rgba(0, 0, 0, 0.3); 
    letter-spacing: 2px; 
    line-height: 1.5; 
    margin-bottom: 0px;
}

.ult-section .p-2{
    font-family: 'Poppins', sans-serif; 
    width: 50%;

    font-size: 28px; 
    color: #FF69B4; 
    text-align: center; 
    margin: 30px auto; 
    line-height: 1.6; 
    font-weight: bold;
    letter-spacing: 1px; 
    text-transform: uppercase; 
    text-shadow: 
        1px 1px 2px rgba(209, 109, 204, 0.3), 
        0 0 5px rgba(255, 105, 180, 0.5); 
}

.ult-section i{
    font-size: 150px; 
    color: #e9abe6b0; 
    transition: transform 0.3s; 
    padding-bottom: 100px;
}










/* Estilo adaptado (Mobile) */
@media (max-width: 768px) {
    .ingreso {
        padding: 20px;
        max-width: 80%; 
        margin: 50px auto; 
    }

    /* Estilo del texto principal */
    .ingreso h3 {
        font-size: 40px; 
    }

    .ingreso p {
        font-size: 1.8rem; 
        letter-spacing: 1.5px; 
    }

    .ingreso p span{
        color: #FF69B4;
    }

    .decoraciones {
        margin: 15px 0; 
        padding: 0 20px; 
    }
    
    .decoraciones i {
        font-size: 30px; 
        margin: 0 10px; 
    }

    /* Estilo del botón */
    .ingreso a {
        font-size: 18px; 
        padding: 8px 16px; 
        width: 50%; 
    }

    .ingreso a:hover{
        background-color: violet;
        color: aliceblue;
    }
}


/* MOBILE CARDS- INVITACIONES - PARTY- UBICACION- FOTOS- MODOS*/
@media (max-width: 768px) { 
    .cards {
        padding: 50px;
    }

    .cards h1 {
        font-size: 4rem; 
        letter-spacing: 1px; 
        padding: 5px 10px; 
    }

    .cards p {
        font-size: 28px; 
    }

    .icon-container {
        font-size: 24px;
    }

    /* SECTION- INVITACIONES- MOBILE */
    .invitacion h2 {
        font-size: 30px; 
        width: 80%;
    }

    .img-invitacion {
        padding-top: 10px; 
        padding-bottom: 10px; 
    }
    .party p {
        font-size: 50px; 
    }


    /* SECTION-PARTY - MOBILE*/
    .party {
        height: auto; /* Ajusta la altura según el contenido */
        padding: 20px 10px; /* Reduce el padding */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .img-party {
        width: 160px; /* Reduce el tamaño de la imagen */
        margin-bottom: 20px; /* Añade margen inferior para separación */
    }

    .img-party img {
        width: 100%;
        border-radius: 8px; /* Redondea las esquinas */
    }

    .img-party img.second {
        width: 80%; /* Ajusta el tamaño de la imagen */
        border-radius: 50%;
        box-shadow: 0 2px 3px rgba(255, 105, 180, 0.7);
    }

    .cont-fecha p {
        font-size: 20px; 
    }

    .cont-fecha a {
        font-size: 18px; 
        padding: 8px; 
    }

    /* SECTION- UBICACION- MOBILE */
    .ubicacion {
        padding: 20px;
    }

    .img-ubi {
        width: 100px; 
    }

    .cont-ubi a {
        font-size: 18px; 
        padding: 6px; 
    }

    .cont-ubi p:first-of-type {
        font-size: 24px; 
    }

    .cont-ubi p:last-of-type {
        font-size: 20px; 
    }

    /* SECTION- ASISTENCIA- MOBILE */
    .cont-asistencia p {
        font-size: 28px; 
    }

    .cont-asistencia a {
        width: 60%; 
        font-size: 20px; 
        padding: 12px; 
    }
    /* SECTION FOTOS MOBILE */
    .fotos {
        height: auto;
        padding: 20px;
    }

    .photos {
        width: 130px; 
        margin-bottom: 30px;
        padding-bottom: 40px;
    }

    .cont-fotos {
        grid-template-columns: 1fr; 
    }

    .contenido {
        width: 100%; 
        max-width: 90%; 
    }

    .contenido img {
        width: 100%; 
        height: auto;
    }
    /* SECTION MODOS MOBILE */
    .title {
        font-size: 40px; 
        padding-top: 50px; 
    }

    .cont-modos {
        grid-template-columns: 1fr; 
        height: auto; 
        padding: 20px; 
    }

    .music, .vestimenta {
        width: 80%; 
        height: auto; 
        margin-bottom: 20px; 
    }

    .music h3, .vestimenta h3 {
        font-size: 30px; 
    }

    .music i, .vestimenta i {
        font-size: 40px; 
    }

    .music p, .vestimenta p {
        font-size: 20px; 
    }

    .music a {
        font-size: 18px; 
        width: 50%;
        padding: 8px; 
        margin-bottom: 15px;

    }
    /* ULTIMO SECTION MOBILE */
    .ult-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px; 
    }

    .ult-section .p-1 {
        font-size: 40px; 
        margin-top: 10px;
        line-height: 1.4; 
        text-shadow: 
            0 0 3px rgba(224, 103, 204, 0.4), 
            0 0 7px rgba(233, 104, 201, 0.5), 
            1px 1px 3px rgba(0, 0, 0, 0.2); 
    }

    .ult-section .p-2 {
        font-size: 20px;
        width: 90%; 
        margin: 20px auto; 
        letter-spacing: 0.5px; 
        line-height: 1.4; 
        text-shadow: 
            0 0 3px rgba(209, 109, 204, 0.2), 
            0 0 4px rgba(255, 105, 180, 0.4);
    }

    .ult-section i {
        font-size: 100px; 
        padding-bottom: 50px; 
    }

            /* CARTAS ACTUALES  */
        .content-container {
            width: 90%; /* No hace las cartas tan anchas */
            height: 600px; /* Ajusta la altura de la carta */
            margin: 10px auto; /* Centra la carta */
        }
      
        .image-box {
          width: 100%; /* Reduce el ancho del cuadro en móviles */
          height: 50%; /* Ajusta la altura automáticamente según el contenido */
        }
      
        .overlay-text,
        .overlay-text-2 {
          font-size: 1.3rem; /* Reduce el tamaño del texto */
          width: 50%; /* Asegura que el texto ocupe todo el ancho del cuadro */
          padding: 10px; /* Agrega espacio interno para el texto */
          border-radius: 8px; /* Ajusta las esquinas */
        }
      
        .overlay-text-2 {
          height: auto; /* Ajusta automáticamente el alto según el texto */
        }
      
        .overlay-text-2 .month {
          font-size: 20px; /* Ajusta el tamaño de la fuente */
          letter-spacing: 2px;
        }
      
        .overlay-text-2 .day {
          font-size: 18px;
        }
      
        .overlay-text-2 .number {
          font-size: 50px; /* Reduce el tamaño del número */
        }
      
        .overlay-text-2 .hour {
          font-size: 16px; /* Ajusta el tamaño de la hora */
        }
      }
      






